---
import type { HTMLAttributes } from 'astro/types';
import { BASE_URL } from '../consts';

type Props = HTMLAttributes<'a'>;

const { class: className, ...props } = Astro.props;
let { href } = Astro.props;

const { pathname } = Astro.url;

const isActive = `/${BASE_URL}${href}` === pathname;
if (typeof href === 'string' && href.indexOf('https') < 0) href = `/${BASE_URL}${href}`;
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a {
		display: inline-block;
		text-decoration: none;
	}
	a.active {
		font-weight: bolder;
		text-decoration: underline;
	}
</style>
